.gallery
  .gallery-cont.swiper-container.s1
    .swiper-wrapper
      .swiper-slide
        img(src='assets/images/natyazhnye-potolki-legos01.jpg')
      .swiper-slide
        img(src='assets/images/natyazhnye-potolki-legos02.jpg')
      .swiper-slide
        img(src='assets/images/natyazhnye-potolki-legos03.jpg')

  .gallery-cont.swiper-container.s2
    .swiper-wrapper
      .swiper-slide
        img(src='assets/images/natyazhnye-potolki-legos02.jpg')

  .gallery-cont.swiper-container.s3
    .swiper-wrapper
      .swiper-slide
        img(src='assets/images/natyazhnye-potolki-legos03.jpg')