.gallery
  display: flex
  justify-content: space-between
  margin: 40px 0 0 0

  &-cont
    width: 30%
    margin-left: 0 !important
    margin-right: 0 !important
    .s2
      margin: 0 20px

    img
      width: 100%