.gallery
  .gallery-cont.swiper-container.s1
    .gallery__overlay
      span Фотоотчеты
    .swiper-wrapper
      .swiper-slide
        .gallery__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.gallery__img.lozad(data-src='assets/images/natyazhnye-potolki-legos01.jpg')
      .swiper-slide
        .gallery__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.gallery__img.lozad(data-src='assets/images/natyazhnye-potolki-legos02.jpg')
      .swiper-slide
        .gallery__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.gallery__img.lozad(data-src='assets/images/natyazhnye-potolki-legos03.jpg')
      .swiper-slide
        .gallery__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.gallery__img.lozad(data-src='assets/images/natyazhnye-potolki-legos04.jpg')
      .swiper-slide
        .gallery__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.gallery__img.lozad(data-src='assets/images/natyazhnye-potolki-legos05.jpg')
    .swiper-button-prev.nav.nav-prev.s1-prev
    .swiper-button-next.nav.nav-next.s1-next

  .gallery-cont.swiper-container.s2
    .gallery__overlay
      span Фотоотчеты
    .swiper-wrapper
      .swiper-slide
        .gallery__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.gallery__img.lozad(data-src='assets/images/natyazhnye-potolki-legos06.jpg')
      .swiper-slide
        .gallery__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.gallery__img.lozad(data-src='assets/images/natyazhnye-potolki-legos07.jpg')
      .swiper-slide
        .gallery__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.gallery__img.lozad(data-src='assets/images/natyazhnye-potolki-legos08.jpg')
    .swiper-button-prev.nav.nav-prev.s2-prev
    .swiper-button-next.nav.nav-next.s2-next

  .gallery-cont.swiper-container.s3
    .gallery__overlay
      span Фотоотчеты
    .swiper-wrapper
      .swiper-slide
        .gallery__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.gallery__img.lozad(data-src='assets/images/natyazhnye-potolki-legos09.jpg')
      .swiper-slide
        .gallery__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.gallery__img.lozad(data-src='assets/images/natyazhnye-potolki-legos10.jpg')
      .swiper-slide
        .gallery__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.gallery__img.lozad(data-src='assets/images/natyazhnye-potolki-legos11.jpg')
    .swiper-button-prev.nav.nav-prev.s3-prev
    .swiper-button-next.nav.nav-next.s3-next