.header
  display: flex
  justify-content: space-between

  &__logo
    width: 240px
    height: 46px
    margin: 50px 0 0 0
    transform: scale(1)
    @media (max-width: 979px)
      margin: 20px auto 0 30px
    @media (max-width: 767px)
      width: 160px
      height: 32px
      margin: 20px auto 0 16px
    @media (max-width: 479px)
      width: 120px
      height: 24px
    @media (max-width: 369px)
      width: 100px
      height: 20px
      margin: 20px auto 0 10px

  &__nav
    &-list
      margin: 0
      padding: 0
      display: flex
      justify-content: center

      &__item
        list-style: none

      &__link
        padding: 14px 8px
        display: flex
        color: $black
        font-size: 16px
        text-transform: uppercase
        text-decoration: none
        cursor: pointer
        transition: .2s
        &:hover, &:active, &:focus
          color: $red
        &:after
          width: 4px
          height: 100%
          content: "/"
          display: block
          left: 8px
          position: relative
    @media (max-width: 979px)
      display: none

  &__info
    margin: 20px 0 0 0
    text-align: right
    font-weight: 600
    @media (max-width: 479px)
      margin: 12px 0 0 0

    &__location
      font-size: 18px
      @media (max-width: 599px)
        font-size: 14px

    &__phone
      display: flex
      align-items: center
      color: $black
      font-size: 24px
      line-height: 44px
      text-decoration: none
      &:hover, &:active, &:focus
        text-decoration: underline
      .phone
        background: #000
        i
          color: #FFF
      @media (max-width: 767px)
        font-size: 18px
        line-height: 32px
      @media (max-width: 599px)
        font-size: 14px
        line-height: 24px
        .phone
          min-width: 14px
          min-height: 14px
          max-width: 14px
          max-height: 14px
          i
            font-size: 8px
      @media (max-width: 369px)
        line-height: 20px
        .phone
          margin: 0 6px 0 0

    &__text
      font-size: 12px
      font-weight: 600
      text-transform: uppercase
      line-height: 0
      @media (max-width: 599px)
        display: none

.main
  width: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  margin: 0 auto
  padding: 0 20px
  position: relative
  background-color: #F3F3F3
  background-size: cover
  background-position: center
  background-repeat: repeat-y
  box-sizing: border-box
  @media (max-width: 599px)
    padding: 0 16px

  &__content
    padding: 0 0 20px 0
    @media (max-width: 979px)
      margin: 20px 0 0 0
    @media (max-width: 599px)
      margin: 60px 0 0 0

  &__row
    display: flex
    justify-content: space-between

  &__title
    margin: 0
    color: #1D1D1B
    font-size: 72px
    font-weight: bold
    font-family: "Arial Black"
    line-height: 72px
    text-transform: uppercase
    transform: scaleY(1.3)
    @media (max-width: 979px)
      max-width: 500px
      transform: none
    @media (max-width: 767px)
      font-size: 56px
      line-height: 56px
    @media (max-width: 479px)
      font-size: 40px
      line-height: 40px

  &__p
    margin: 14px 0 0 10px
    font-size: 16px
    @media (max-width: 979px)
      max-width: 360px
    @media (max-width: 767px)
      margin: 14px 0 0 0
    @media (max-width: 479px)
      font-size: 14px
      margin: 10px 0 0 0


  &__img
    top: 20px
    position: relative
    min-width: 190px
    margin: 40px 80px 0 0
    @media (max-width: 979px)
      display: none

  &__advantages
    width: 100%
    max-width: 700px
    margin: 140px auto 0 0
    display: flex
    justify-content: space-between
    @media (max-width: 979px)
      margin: 100px auto 60px 0
    @media (max-width: 767px)
      max-width: 360px
      margin: 60px auto 60px 0

    .green
      .main__advantages-item__num
        background: linear-gradient(to left, #009640, #0B5E36 60%)
      .main__advantages-item__text
        color: #216D3A

    .black
      .main__advantages-item__num
        background: #1D1D1B
      .main__advantages-item__text
        color: #1D1D1B

    .red
      .main__advantages-item__num
        background: #BC1D20
      .main__advantages-item__text
        color: #BC1D20

    &-item
      margin: 0 20px 0 0

      &__text-cont
        display: inline-block
        text-align: right
        position: relative

      &__num
        width: 84px
        height: 84px
        display: flex
        align-items: center
        justify-content: center
        background: gray
        border-radius: 100%
        top: -56px
        left: -6px
        position: absolute
        span
          right: 5px
          position: relative
          color: #FFF
          font-size: 56px
          font-family: "Impact", "Arial Black", sans-serif
          transform: scaleY(1.2)
        @media (max-width: 979px)
          width: 70px
          height: 70px
          top: -40px
          left: 10px
          span
            font-size: 46px
        @media (max-width: 767px)
          width: 40px
          height: 40px
          top: -26px
          left: 0
          span
            right: 0
            font-size: 28px


      &__text
        display: inline-block
        font-size: 40px
        font-family: "Impact", "Arial Black", sans-serif
        text-align: right
        text-transform: uppercase
        line-height: 40px
        transform: scale(1.13, 1.3)
        @media (max-width: 979px)
          transform: none
        @media (max-width: 767px)
          font-size: 20px
          line-height: 20px

  &__btn
    bottom: 0
    right: 0
    position: absolute