.main
  header.header
    img.header__logo(src='assets/images/logo.svg')

    nav.header__nav
      ul.header__nav-list
        li.header__nav-list__item
          a.header__nav-list__link окна
        li.header__nav-list__item
          a.header__nav-list__link балконы
        li.header__nav-list__item
          a.header__nav-list__link о компании
        li.header__nav-list__item
          a.header__nav-list__link контакты

    .header__info
      span.header__info__location Чебоксары<br>
      span.header__info__phone 8 (8352) 38-22-38<br>
      span.header__info__text Работаем по всей<br>Чувашии

  .main__content
    h1.main__title Натяжные потолки
    p.main__p Установка натяжных потолков в Чебоксарах, Новочебоксарске и по всей Чувашии

    .main__row
      img.main__img(src='assets/images/lion.svg')

      .main__advantages
        .main__advantages-item
          .main__advantages-item__text-cont.green
            div.main__advantages-item__num
              span 10
            span.main__advantages-item__text лет<br>гарантия
        .main__advantages-item
          .main__advantages-item__text-cont.black
            div.main__advantages-item__num
              span 6
            span.main__advantages-item__text мес.<br>рассрочка
        .main__advantages-item
          .main__advantages-item__text-cont.red
            div.main__advantages-item__num
              span 1
            span.main__advantages-item__text день<br>изготовл.

  a.main__btn.btn Оставить заявку