.reviews
  .reviews__cont.swiper-container.s4
    h3.reviews__h Отзывы о компании ПОТОЛКИ ЛЕГОС Чебоксары ›
    .swiper-wrapper
      a.reviews__link.popup-youtube.swiper-slide(href='https://www.youtube.com/watch?v=wX0WQXI23JI')
        .reviews__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.reviews__img.lozad(data-src='assets/images/legos-thumbnail01.jpg')
        .reviews__desc
          span.reviews__tag видео-отзыв
          span.reviews__title Замена холодного витражного балкона на теплый.
        .reviews__info
          span.date 20 февраля 2019
          span.views 70

      a.reviews__link.popup-youtube.swiper-slide(href='https://www.youtube.com/watch?v=GSPAeZG3fVo')
        .reviews__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.reviews__img.lozad(data-src='assets/images/legos-thumbnail02.jpg')
        .reviews__desc
          span.reviews__tag видео-отзыв
          span.reviews__title Отзыв о работе. Ул. Декабристов, 18.
        .reviews__info
          span.date 20 февраля 2019
          span.views 70

      a.reviews__link.popup-youtube.swiper-slide(href='https://www.youtube.com/watch?v=uHMiYNmWVqI')
        .reviews__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.reviews__img.lozad(data-src='assets/images/legos-thumbnail03.jpg')
        .reviews__desc
          span.reviews__tag видео-отзыв
          span.reviews__title Отзыв о работе. Народный певец и артист Чувашии - Александр Нефрит.👍
        .reviews__info
          span.date 20 февраля 2019
          span.views 70

      a.reviews__link.popup-youtube.swiper-slide(href='https://www.youtube.com/watch?v=npiyo5mZUCU')
        .reviews__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.reviews__img.lozad(data-src='assets/images/legos-thumbnail04.jpg')
        .reviews__desc
          span.reviews__tag видео-отзыв
          span.reviews__title ВИДЕО ОТЗЫВ ЛЕГОС Университетская 10.
        .reviews__info
          span.date 20 февраля 2019
          span.views 70

      a.reviews__link.popup-youtube.swiper-slide(href='https://www.youtube.com/watch?v=wl-6Q8E4SK8')
        .reviews__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.reviews__img.lozad(data-src='assets/images/legos-thumbnail05.jpg')
        .reviews__desc
          span.reviews__tag видео-отзыв
          span.reviews__title Отзыв "ЛЕГОС" Реставрация балкона. Чебоксары
        .reviews__info
          span.date 20 февраля 2019
          span.views 70

      a.reviews__link.popup-youtube.swiper-slide(href='https://www.youtube.com/watch?v=382Ksvl0nLs')
        .reviews__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.reviews__img.lozad(data-src='assets/images/legos-thumbnail06.webp')
        .reviews__desc
          span.reviews__tag видео-отзыв
          span.reviews__title Видео отзыв ЛЕГОС Чебоксары. М Горького д 19
        .reviews__info
          span.date 20 февраля 2019
          span.views 70

      a.reviews__link.popup-youtube.swiper-slide(href='https://www.youtube.com/watch?v=dtwWvFGhnhg')
        .reviews__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.reviews__img.lozad(data-src='assets/images/legos-thumbnail07.jpg')
        .reviews__desc
          span.reviews__tag видео-отзыв
          span.reviews__title Окна ЛЕГОС Чебоксар. Видеоотзыв Ашмарина 23
        .reviews__info
          span.date 20 февраля 2019
          span.views 70

      a.reviews__link.popup-youtube.swiper-slide(href='https://www.youtube.com/watch?v=awVF6WYFwYA')
        .reviews__img-cont
          .cube-loader
            .caption
              .cube-cont
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3
          img.reviews__img.lozad(data-src='assets/images/legos-thumbnail08.jpg')
        .reviews__desc
          span.reviews__tag видео-отзыв
          span.reviews__title Видео отзывы ЛЕГОС. Чебоксары, Лебедева д 3
        .reviews__info
          span.date 20 февраля 2019
          span.views 70

  .swiper-button-prev.nav.nav-prev.s4-prev
  .swiper-button-next.nav.nav-next.s4-next