.calculations
  margin: 40px 0 0 0
  display: flex
  justify-content: space-between
  @media (max-width: 1199px)
    margin: 20px 0 0 0
    flex-direction: column

  &__p
    width: 100%
    margin: 0 0 20px 0
    display: none
    color: $black
    font-weight: 600
    font-size: 16px
    text-align: center
    @media (max-width: 767px)
      display: inline-block

  .square
    &:before
      width: 10px
      height: 10px
      content: ""
      display: block
      margin: 0 10px 0 0
      top: 7px
      position: relative
      background: lighten($green, 14%)
    &--large
      &:before
        width: 18px
        height: 18px
        top: 4px
        right: 4px

  &__right
    width: 50%
    margin: 0 20px 0 0
    display: flex
    justify-content: space-between
    @media (max-width: 1199px)
      width: 100%
      margin: 0
    @media (max-width: 599px)
      flex-direction: column

  &__left
    width: 50%
    @media (max-width: 1199px)
      width: 100%
    @media (max-width: 599px)
      display: none

  &__cont
    width: 100%
    height: 280px
    padding: 20px
    position: relative
    box-sizing: border-box
    border: 1px dashed #CECECE
    @media (max-width: 767px)
      &--second
        height: auto
        padding: 20px 20px 70px 20px

  &__title
    margin: 0
    display: flex
    font-size: 24px
    text-transform: uppercase
    &--second
      text-transform: unset

  &__subtitle
    margin: 20px 0 0 0
    font-size: 22px
    .red
      color: #E25125
      font-size: 34px
      font-weight: 600
      line-height: 26px
      bottom: 4px
      position: relative

  &__img-cont
    width: 100%
    max-width: 267px
    min-width: 267px
    position: relative
    overflow: hidden
    @media (max-width: 599px)
      margin: 0 auto 20px auto

  &__img
    width: 100%
    height: 100%

  &__example
    &__title
      margin: 20px 0 0 0
      font-size: 16px

    &__p
      margin: 0
      font-size: 16px
      .bold
        font-weight: 600

      &--second
        font-size: 18px

    &__btn
      height: 36px
      padding: 0 22px
      margin: 12px 0
      display: inline-block
      color: #FFF
      font-size: 16px
      line-height: 36px
      text-decoration: none
      background: #004B2F
      border-radius: 2px
      box-sizing: border-box
      position: relative
      cursor: pointer
      transition: .2s
      &:hover, &:focus
        background: darken(#004B2F, 5%)
      &:active
        top: 2px

  &__desc
    margin: 4px 0 0 0
    display: flex
    flex-direction: column
    justify-content: space-between

    &__p
      width: 100%
      display: flex
      margin: 10px 0 0 0
      font-size: 22px
      .bold
        font-weight: 600

    &__btn
      bottom: 0
      right: 0
      position: absolute