.calculations
  margin: 40px 0 0 0
  display: flex
  justify-content: space-between

  &__right
    width: 50%
    margin: 0 20px 0 0
    display: flex
    justify-content: space-between

  &__left
    width: 50%

  &__cont
    width: 100%
    height: 260px
    padding: 20px
    position: relative
    box-sizing: border-box
    border: 1px dashed #CECECE

  &__title
    margin: 0
    font-size: 24px
    text-transform: uppercase

  &__img
    width: 240px

  &__example
    &__title
      margin: 20px 0 0 0
      font-size: 16px

    &__p
      margin: 0
      font-size: 16px
      .bold
        font-weight: 600

      &--second
        font-size: 18px

    &__btn
      height: 36px
      padding: 0 22px
      margin: 12px 0
      display: inline-block
      color: #FFF
      font-size: 16px
      line-height: 36px
      background: #004B2F
      border-radius: 2px
      box-sizing: border-box

  &__desc
    display: flex
    justify-content: space-between
    margin: 20px 0 0 0

    &-left, &-right
      display: flex
      flex-direction: column

    &__p
      width: 100%
      font-size: 14px
      .bold
        font-weight: 600
      .tt-u
        text-transform: uppercase
      .unset
        text-transform: unset

    &__btn
      bottom: 0
      right: 0
      position: absolute