.calculations
  .calculations__right
    img.calculations__img(src='assets/images/calculation.jpg')
    .calculations__cont
      h2.calculations__title Примеры рассчетов
      .calculations__example
        h3.calculations__example__title Пример:
        p.calculations__example__p Матовый потолок в кухню<br>с установкой люстры<br>- <span class='bold'>4500 руб</span>
        a.calculations__example__btn Посмотреть примеры
        p.calculations__example__p.calculations__example__p--second Стандартные квартиры<br>в Чебоксарах

  .calculations__left
    .calculations__cont
      h2.calculations__title Цены
      .calculations__desc
        .calculations__desc-left
          span.calculations__desc__p
            span.tt-u
              span.bold Полотно
              | ..............................199
            span.unset кв.м.
          span.calculations__desc__p
            span.tt-u
              span.bold Монтаж полотна
              | .............220
            span.unset кв.м.
          span.calculations__desc__p
            span.tt-u Установка люстры .........300
            span.unset шт.

        .calculations__desc-right
          span.calculations__desc__p
            span.tt-u
              span.bold Установка гардины
              | ...................199
            span.unset кв.м.
          span.calculations__desc__p
            span.tt-u
              span.bold Установка светильника
              | ..........220
            span.unset кв.м.
          span.calculations__desc__p
            span.tt-u Обвод труб .....................................300
            span.unset шт.
          a.calculations__desc__btn.btn Оставить заявку