.articles
  //- .articles__row
  //-   span.articles__subtitle Блог
  //-   a.articles__all Все статьи

  .articles__cont
    .articles__article
      span.articles__title Оформляем договор без предоплаты
      .articles__img-cont
        .cube-loader
          .caption
            .cube-cont
              .cube.loader-1
              .cube.loader-2
              .cube.loader-4
              .cube.loader-3
        img.articles__img.lozad(data-src="assets/images/article-img01.jpg")
      span.articles__date 20/11/2019
      p.articles__p Оформляем договор рассрочки без предоплаты на 6 месяцев.<br>Услуга предоставляется банками ООО "Тинькофф, ООО ОТП-Банк"<br>Все проценты мы выплачиваем за вас.
      a.articles__link Подробнее

    .articles__article
      span.articles__title Оформляем договор без предоплаты
      .articles__img-cont
        .cube-loader
          .caption
            .cube-cont
              .cube.loader-1
              .cube.loader-2
              .cube.loader-4
              .cube.loader-3
        img.articles__img.lozad(data-src="assets/images/article-img02.jpg")
      span.articles__date 20/11/2019
      p.articles__p Оформляем договор рассрочки без предоплаты на 6 месяцев.<br>Услуга предоставляется банками ООО "Тинькофф, ООО ОТП-Банк"<br>Все проценты мы выплачиваем за вас.
      a.articles__link Подробнее

    .articles__article
      span.articles__title Оформляем договор без предоплаты
      .articles__img-cont
        .cube-loader
          .caption
            .cube-cont
              .cube.loader-1
              .cube.loader-2
              .cube.loader-4
              .cube.loader-3
        img.articles__img.lozad(data-src="assets/images/article-img01.jpg")
      span.articles__date 20/11/2019
      p.articles__p Оформляем договор рассрочки без предоплаты на 6 месяцев.<br>Услуга предоставляется банками ООО "Тинькофф, ООО ОТП-Банк"<br>Все проценты мы выплачиваем за вас.
      a.articles__link Подробнее