.table
  h3.table__title Специально для вас!
  span.table__subtitle Мы сравнили и подготовили таблицу самых популярных и ходовых<br>видов натяжных потолков в Чебоксарах.

  .table__cont
    .table__table
      .table__col
        .table__caption
          span Вид пленки
        .table__row
          span.fw-b Бренд
        .table__row
          span.fw-b Ширина
        .table__row
          span.fw-b Сегмент
        .table__row
          span.fw-b Экологичность
        .table__row
          span.fw-b Сертификат SGS
        .table__row
          span.fw-b Стоимость

      .table__col
        .table__caption
          span ПВХ Longwei (Китай)
        .table__row
          img.table__img.lozad(data-src="assets/images/longwei.png")
        .table__row
          span 3,2 м
        .table__row
          span Эконом
        .table__row
          span -
        .table__row
          span -
        .table__row
          span 140 р./кв.м.

      .table__col
        .table__caption
          span ПВХ Halead (Китай)
        .table__row
          img.table__img.halead.lozad(data-src="assets/images/halead.png")
        .table__row
          span 3,2 м
        .table__row
          span Эконом
        .table__row
          span А
        .table__row
          span -
        .table__row
          span 150 р./кв.м.

      .table__col
        .table__caption
          span ПВХ Pongs (Китай, Германия)
        .table__row
          img.table__img.lozad(data-src="assets/images/pongs.png")
        .table__row
          span 3,2 м
        .table__row
          span Средний
        .table__row
          span А
        .table__row
          span -
        .table__row
          span 300 р./кв.м.

      .table__col
        .table__caption
          span ПВХ MSD (Китай)
        .table__row
          img.table__img.lozad(data-src="assets/images/msd.png")
        .table__row.bg-g
          span 5,1 м
        .table__row
          span Средний
        .table__row.bg-g
          span А+
        .table__row.bg-g
          span +
        .table__row.bg-g
          span 199 р./кв.м.

      .table__col
        .table__caption
          span Ткань DESCOR (Германия)
        .table__row
          img.table__img.lozad(data-src="assets/images/descor.png")
        .table__row
          span 4,0 м
        .table__row
          span Премиум
        .table__row.bg-g
          span А+
        .table__row.bg-g
          span +
        .table__row
          span 800 р./кв.м.

  p.table__p По нашему мнению полотно MSD на сегодняшний день является самым экологичным, выгодным и практичным из всех представленных на рынке России и Чувашии. Мы предпочитаем работать именно с ним и советуем его всем своим знакомым и близким. Со всеми сертификатами и информацией по данному полотну можно ознакомиться здесь<br><a href='http://msd-opt.ru' target='_blank'> http://msd-opt.ru</a>