doctype html
html
  head
  meta(charset='utf-8')
  meta(name='viewport', content='initial-scale=1.0, width=device-width')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  title Натяжные потолки в Чебоксарах

  link(rel='stylesheet', href='assets/css/libs.css')
  link(rel='stylesheet', href='assets/css/style.css')

  body
    div.wrapper
      div.content
        include assets/blocks/main/main.pug
        include assets/blocks/calculations/calculations.pug
        include assets/blocks/gallery/gallery.pug

  footer

  script(src="assets/js/all.min.js")