doctype html
html
  head
  meta(charset='utf-8')
  meta(name='viewport', content='initial-scale=1.0, width=device-width')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='description' content='Где заказать натяжные потолки в Чебоксарах с установкой. ЛЕГОС официальный сайт.')
  meta(name='keywords' content='потолки, натяжные потолки, натяжные потолки цены, натяжные потолки чебоксары цены сравнить, натяжные потолки чебоксары цены, натяжные потолки чебоксары цена за 1м2, натяжной потолок чувашия, натяжной потолок шумерля, натяжной потолок новочебоксарск, установка натяжного потолка чебоксары, натяжные потолки чебоксары сайт, натяжной потолок репа, репа натяжные потолки чебоксары, купить натяжной потолок чебоксары, натяжные потолки фото, натяжные потолки чебоксары фото, установка натяжных потолков, монтаж натяжных потолков чебоксары, натяжные потолки купить, потолки натяжные цена, потолки натяжные цена с установкой, натяжные потолки отзывы, глянцевые натяжные потолки, натяжные потолки чебоксары отзывы, где купить натяжные потолки, натяжные потолки под ключ, натяжные потолки компании, натяжные потолки чебоксары фирмы, натяжные потолки 21 чебоксары')

  title Натяжные потолки в Чебоксарах, Новочебоксарске и по всей Чувашии

  link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
  link(rel='stylesheet', href='assets/css/all.min.css')

  body.body
    div.wrapper
      div.content
        include assets/blocks/main/main.pug
        include assets/blocks/calculations/calculations.pug
        include assets/blocks/gallery/gallery.pug
        include assets/blocks/reviews/reviews.pug
        include assets/blocks/calculator/calculator.pug
        include assets/blocks/articles/articles.pug
        include assets/blocks/table/table.pug
        include assets/blocks/map/map.pug
        include assets/blocks/popup/popup.pug
        include assets/blocks/popup-example/popup-example.pug
        include assets/blocks/popup-write/popup-write.pug
        include assets/blocks/footer/footer.pug

  footer

  script(src='assets/js/all.min.js')